body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  max-width: 100vw;
}

.loader{
  background-image: url('../img/hero-euro.jpg');
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}
.title {
  h1{
    font-size:calc(16px + 11vw);

    font-weight: 700;
    color: transparent;
    background: url('../img/coins.jpeg')repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
  }
  h2{
    font-size:calc(16px + 9vw);
    font-weight: 700;
    color: transparent;
    background: url('../img/coins.jpeg')repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
  }
}
.about{
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.currency {
  li {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 12px;
    border: 1px solid grey;
    background-size: contain;
  }
}


@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}
.container{
  position:absolute;
  @include center();
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.03);
}

/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.8s both;
	        animation: tracking-in-expand 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.8s both;
}
.currency li {
	-webkit-animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.8s both;
	        animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.8s both;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3.5s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3.5s both;
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4.2s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4.2s both;
}


/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
